# output directories
assessment/output/*

# Apple file system
.DS_STORE

# figures
*.png
*.eps
*.pdf

# ipython notebook checkpoints
*-checkpoint.ipynb

# data files
*~
~*


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
